 <!-- Introduction -->
<header class="introduction">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><%= __('homepage.introduction.suptitle') %></div>          
            <div class="intro-bigmessage"><%= __('homepage.introduction.bigmessage') %></div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services"><%= __('homepage.introduction.tellmemore') %></a>
        </div>
    </div>
</header>
