<! — views/pages/index.ejs >
<!DOCTYPE html>
<html lang="<%= __('meta.lang') %>">

<% include ../partials/head %>

    <body id="page-top">
        <% include ../partials/navbar %>
            <% include ../partials/introduction %>
                <% include ../partials/services %>
                    <% include ../partials/about %>
                        <% include ../partials/team %>
                        <% include ../partials/clients %>
                            <% include ../partials/contact %>
                                <% include ../partials/footer %>
                                    <% include ../partials/scripts %>

    </body>

</html>
